
body{
    font-family: 'Ubuntu';
    display: flex;
    flex-direction: column;
}

header {
    background-color: darkslategray;
}

nav, menu{
    display: flex;
    flex: 1;
    flex-direction: row !important;
    list-style: none;
    padding: 0 1em;
    align-items: center;
}

nav{
    flex-direction: column;
    margin: 0px;
    font-size: x-large;
    
}
.navbar-brand{
    margin: 0px;
    padding: 1em;
    border: solid whitesmoke thin;
    font-size: 3em;
}

menu{
    padding-left: 2em;
    margin: 0px;
}

.nav-item{
    padding-left: 1.5em;
    margin: 0;
}

main{
    display: flex;
    flex-direction: column;
    flex: 1 calc(100vh - 100px);
    align-items: center;
}

.Welcome{
    font-size: xx-large;
    padding: 7vh;
}

footer{
    flex: 0 40px;
    display: flex;
    background-color: darkslategray !important;
    flex-direction: row !important;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding-inline: 2em;
}

.form-group{
    margin: 5px;
}

.game-viewport{
    padding: 2em;
}



h1{
    margin-bottom: 20px !important;
    border-bottom: solid wheat;
}

.Leaderboard {
    width: 300px;
    margin: 0 auto;
}

ol {
    list-style: none;
    padding: 0 !important;
}

li {
    font-size: medium;
    padding: 0;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.player-name {
    flex-grow: 1;
}

.score {
    margin-left: 20px;
    min-width: 50px;
    text-align: right;
}

iframe {
    margin: 2em;
}

h3 {
    padding-bottom: 1em;
}

#playerName{
    font-size: large;
    margin: 1em;
    padding: 4px;
    color: cadetblue;
    background-color: black;
}


.alert {
    padding: 10px !important;
    background-color: #343434 !important;
    color: white;
    margin-bottom: 15px;
    opacity: 1;
    transition: opacity 0.6s;
  }

  .alert-container {
    display: flex !important;
    position: fixed !important;
    flex-direction: column;
    left: 10px;
    top: 70px;
  }
  

  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .closebtn:hover {
    color: black;
  }