
main {
    flex: 1;
    display: flex;
    flex-direction: column;
}
body{
    background-color: cornflowerblue;
    font-family: 'Ubuntu';
    display: flex;
    flex-direction: column;
}

header {
    background-color: gainsboro;
    flex: 0 80px;
    height: 1em;
}

footer {
    flex: 0 30px;
}
  

menu {
    flex: 1;
    display: flex;
    flex-direction: row;
    list-style: none;
  }