
body{
    font-family: 'Ubuntu';
    display: flex;
    flex-direction: column;
}

header {
    background-color: darkslategray;
}

nav, menu{
    display: flex;
    flex: 1;
    flex-direction: row !important;
    list-style: none;
    padding: 0 1em;
    align-items: center;
}

nav{
    flex-direction: column;
    margin: 0px;
    font-size: x-large;
    
}
.navbar-brand{
    margin: 0px;
    padding: 1em;
    border: solid whitesmoke thin;
    font-size: 3em;
}

menu{
    padding-left: 2em;
    margin: 0px;
}

li{
    padding-left: 2em;
    font-size: medium;
}

main{
    display: flex;
    flex-direction: column;
    flex: 1 calc(100vh - 120px);
    align-items: center;
}

.Welcome{
    font-size: xx-large;
    padding: 7vh;
}

footer{
    flex: 0 40px;
}

.form-group{
    margin: 5px;
}

.game-viewport{
    padding: 2em;
}

ol {
    list-style: none;
    padding-left: 0 !important;
}

h1{
    margin-bottom: 20px !important;
    border-bottom: solid wheat;
}